@model MyApp.Web.Models.QuestionViewModel

@{
    ViewData["Title"] = "Editar Pregunta";
}

<h2>Editar Item a Relevar</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditQuestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdSubject" />
            <input type="hidden" asp-for="QuestionTypeId" />

            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.QuestionTypeId" class="btn btn-success">Regresar</a>
            </div>
        </form>
    </div>
</div>

