@model MyApp.Web.Data.Entities.CompanyType

@{
    ViewData["Title"] = "Detalles Tipo de Empresa";
}

<h2></h2>

<div>
    <h4>Tipo de Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary"asp-route-id="@Model.Id">Editar</a> 
    <a asp-action="Index" class="btn btn-success">Regresar</a>
</div>
